@import "tailwindcss";

body{
  font-family: "Neue Montreal",sans-serif;
  background-color: #0E0E0E;
}

@keyframes skeleton-glow {
  0% {
    filter: brightness(0.88);
  }
  50% {
    filter: brightness(1.16);
  }
  100% {
    filter: brightness(0.88);
  }
}

.card-skeleton-glow {
  animation: skeleton-glow 1s ease-in-out infinite;
}
